<div id="elm"></div>
<script src="TestGallery.js"></script>
<script src="utils.js"></script>
<script>
	var node = document.getElementById('elm');
	var app = Elm.Main.embed(node);

	app.ports.loadImage.subscribe(function(url) {
		fetchAndSendImage(url, app.ports.blobedImage);
	});
</script>
